*{
    margin:0;
}
body{
    font-family: 'DM Sans', sans-serif;
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    align-items: center;
    
    
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    gap: 20px;
}
.link-header:hover{
    color: #A18A68;
    border-bottom: 3px solid #A18A68;

    transition: 0.3s;
}

.title-logo{
    font-size: 2rem;
    color: #A18A68;
    font-family: 'Allerta Stencil', sans-serif;

}
.title-logo:hover{
    text-shadow: 0px 0px 3px grey;
}

/* footer */

/* ================ hero ==================== */
.hero{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.content p{
    margin-top: 200px;
    margin-left: 50px;
}

.content{
  border-radius: 20px;
  width: 85%;
  background-image: url("images/image-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.title-hero{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;

}

.prix-hero{
   color: #fff;
}
.btn-hero{
    color: white;
    font-weight: bold;
    position: absolute;
    margin-top: 15px;
    border: 3px solid white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.btn-hero:hover{
    background-color: grey;
    color: white;
    
}


/* ================== section cards======================== */

.section-card{
    padding-top:40px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.product-image{
    border-radius: 10px;
    width: 340px;
    height: 340px;
}

.card{
    padding-top: 30px;
}
.product-title{
    padding-top: 10px;
}
.product-price{
    font-size: 15px;
    color: #A18A68;
    margin-top: 10px;
}
.hover-add-cart{
    position: absolute;
    width: 340px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    background-color: #ffffff3f;
    height: 50px;
    padding-top: 10px;
    opacity: 0;
}
.card:hover .hover-add-cart{
    opacity: 1;
    transition: 0.4s;

}
.btn-checkout-cart:hover{
    background-color:#28a745 ;
    color: white;
}
.btn-checkout-cart:active{
    color: beige;
}

/* ============================== about ==============================*/
.section-about{
    text-align: center;
    margin-bottom: 20px;
    width:100% ;
    display: flex;
    justify-content: center;
}
.content-about{
    margin-top: 100px;
    width: 75%;
    text-align: center;
}

.section-about-1{
    
    margin-bottom: 20px;
    width:100% ;
    display: flex;
    justify-content: center;
}
.content-about-1{
    margin-top: 100px;
    width: 75%;
}
.img-about{
    margin:20px 0px 20px 0px;
    width: 100%;
}
.list-text-about{
    font-size: 20px;
    margin-top: 30px;
      
}

/*================================== end home ===================================*/


/* ====================================start cart================================ */
.title-cart-page{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.cart-panier{
   
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.all-cart-panier{
    width: 50%;
    display: flex;
    justify-content: center; 
}
.image-product-panier{
    width:20%;
    border-radius: 20px 0px 0px 20px;
}
.cart-details{
     background-color: #EBECEE;
     width:80%;
     border-radius: 0 20px 20px 0px;
     padding: 15px 0 0 20px;
 }
 .btn-group-cart{
    display: flex;
    padding-top: 6px;
    padding-bottom: 10px;
    
 }
 .btn-group-cart button{
    background: none;
    border: none;
    width: 20px;
    border-top: 2px solid black;border-bottom: 2px black solid;
    padding: 5px 18px 6px 10px;
}
.btn-group-cart p{
    padding: 5px 10px 5px 10px;
    border: solid black 2px;
}



.title-prodoct-cart{
    font-size: 25px;
}
.price-product-cart{
    color: #A18A68;
    padding-top: 5px;
    padding-bottom: 5px;
}
.total-cart-product{
    padding-bottom: 15px;
}




.total-cart{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
   

}
.total-cart p{
    margin-bottom: 20px;
}
.total-cart a{
    padding: 5px 30px 5px 30px;
    border: 2px solid black;
    border-radius: 10px;
}
#inc-btn-cart{
    border-right: 2px solid black;
}
.btn-count{
    font-weight: bold;
    
}
.btn-count:hover{
    background-color: #707070;
    color: #fff;
}
.btn-count:active{
    background-color: #484848;
    color: #fff;
}

/* ===================================end cart ======================================*/














/* =================================== start product details ============================= */
.section-product-details{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
    
}
.all-product-details{
    width: 80%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 1px 8px 0px grey;
    border-radius: 25px;
}


 .product-details-card{
     width:80%;
     border-radius: 0 20px 20px 0px;
     padding: 30px 0 0 40px;
 }
 .image-product-details{
    border-radius: 25px 0px 0px 25px;
 }
 .product-details-ttl-prx{
    margin-bottom: 15px;
    font-size: 27px;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;

 }
.product-details-title{
    font-weight: bold;
}

 .price-title-product{
    color:#A18A68 ;
 }
 .Description-ttl{
    font-size: 26px;
    margin: 15px 0 15px 0;
 }
 .description-product{
    width: 88%;
    margin-bottom: 15px;
 }
 .btn-grp-product{
    margin-top: 15px;
    padding-bottom: 8px;
 }
 .btn-grp-product button{
   background: none;
  border: none;
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px 15px 8px 15px;
  font-size: 17px;
 }
 .btn-grp-product button:hover{
    transition: 0.3s;
    background-color: #07da7b;
 }
 .btn-grp-product button:active{
    transition: 0.2s;
    background-color: #019251;
 }
 .btn-grp-product a{
    background: none;
    border: none;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px 15px 8px 15px;
 }
 .btn-grp-product a:hover{
    transition: 0.3s;
    background-color: #00a65a;
    color: #fff;


 }



 /* ===== reviews ====== */
 .reviews-title{
    text-align: center;
    margin: 60px;
 }
 .section-reviews{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
 }
 .cart-reviews{
    width: 70%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: black 2px dashed;
 }
 .reviews-person-profil img{
    width: 140px;
    height: 150px;
    border-radius: 100%;
 }
 .reviews-person-profil p{
    text-align: center;
    padding-top: 19px;
 }
 .reviews-description-likes{
   margin: 40px 0px 0px 40px;
 }
 .like-count{
    align-items: center;
    font-size: 20px;
    padding-top: 10%;
    padding-left: 20px;
    display: flex;
    gap: 5px;
 }



/* =================================== end  product details ============================= */


/* =================================== start  checkout ============================= */

.main-checkout{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
}
.check-col-1{
 margin-right: 10px;
 width: 50%;
}

.all-checkout{
    display: flex;
    width: 80%;
    justify-content: center;
    border-radius: 25px;
}
.card-checkout {
    display: flex;
    margin-bottom: 10px;
    
}

.input-check{
    border: none;
    width: 70%;
    height:50px ;
    margin-bottom: 20px;
    padding-left: 6%;
    font-size: 16px;
    background-color: #EBECEE;
    border-radius: 20px;
}

.input-grp-check{
   border: none;
   width: 31%;
    margin-bottom: 20px;
    height:50px;
    background-color: #EBECEE;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 35px;
    padding-right: 5px;
}
.position-p{
    position: absolute;
    top: 483px;
   left: 240px;
   font-size: 11px;
   opacity: 70%;
 }
 

.btn-send-reset{
    border: none;
    width: 25%;
    padding: 10px;
    font-size:16px ;
    color: #fff;
    border-radius: 20px;
    height: 50px;
    background-color: #d9534f;  
}
.btn-send-reset:hover{
    background-color: #dc3545;
    transition: 0.5s;
}

.btn-send-reset:active{ background-color: #a3001d;}

.primary{background-color: #007bff; }
.primary:hover{ background-color:#0056b3 ;}
.primary:active{background-color: #004fa0;}
.check-col-2{
    width: 50%;
    margin-left: 20px;
}
.card-checkout{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #EBECEE;
    border-radius: 20px;
    
}
.cart-checkout-content{
    margin-top: 40px;
    font-size: 20px;
 }
 .image-checkout-cart{
    border-radius: 20px;
 }
 .text-right{
    color: #A18A68;
 }
.card-checkout-ttl-price{
    display: flex;
    width: 90%;
    /* background-color: blue; */
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.card-checkout-Qty-price{
    display: flex;
    width: 90%;
    /* background-color: beige; */
    justify-content: space-between;
}
.total-general-checkout{
    width: 80%;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
    
}
.text-total-checkout{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.TOTAL{
    font-size: 26px;
    font-weight: bold;
}




/* =================================== end  checkout ============================= */



/* ===================================== footer=====================================*/
footer{
    
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    align-items: center;
    padding-bottom: 20px;
    
}
.all-footer{
    width: 85%;
    display: flex;
    justify-content: space-between;
    border-top: 1px black solid;
    padding-top: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
    color: #707070;
}
.link-footer{
    margin-left: 20px;
    color: #707070;
}
.link-footer:hover{
    color: #484848;
}

.fa-brands{
    color: #707070;
}
.fa-brands:hover{
    color: #484848;
}

.footer-inner-2 p{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.flech-footer{
    margin-left: 50px;
}

.icons-footer{
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.send-email{
    border: none;
    padding: 5px 1px 5px 1px;
}







